<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Whiteboard</title>
    <%= {:safe, css_link_tag() } %>
    
  </head>

  <body>
    <div id="root" class="container"></div> <!-- /container -->
    <%= {:safe, js_script_tag() } %>
  </body>
</html>
