body {
  font-family: 'Source Sans Pro',
    'Trebuchet MS',
    'Lucida Grande',
    'Bitstream Vera Sans',
    'Helvetica Neue',
    sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.main {
  display: flex;
}

#root, #root2 {
  height: 100vh;
}

#root {
}
#root2 {
  position: absolute;
  left: 320px;
  top: 0;
  z-index: -1;
}

#root canvas {
  height: 100vh;
  top: 0;
}

#root2 canvas {
  height: 100vh;
  top: 0;
}

.sidebar {
  /*display: none;*/
  width: 280px;
  height: 100vh;
  background: #f5f5f5;
  box-shadow: 1px 1px 6px #ccc;
  padding: 20px;
  text-align: left;
}

.content {
}

canvas {
  cursor: pointer;
}

.user.avatar img {
  border: 50%;
  width: 50px;
}

.user input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

.current-color-wrapper {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: flex-start;
  margin: 10px 0px;
}

.current-color-wrapper .current-color {
  width: 20px;
  height: 20px;
  border: #999;
  border-radius: 3px;
  margin-right: 5px;
}
.color-blocks {
  display: grid;
  grid-template-columns: 72px 72px 72px;
  grid-gap: 10px;
  margin: 20px 0px;
}
.color-block {
  width: 72px;
  height: 72px;
  border: #999;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.2s;
}

.color-block.checked {
  transform: perspective(100px) translateZ(5px);
  box-shadow: 0px 2px 2px #aaa;
}

.color-block:hover {
  transform: perspective(100px) translateZ(8px);
  box-shadow: 0px 3px 3px #aaa;
}

.color-block:after {
  content: '';
  display: block;
  margin: 20px 30px;
  width: 10px;
  height: 20px;
  border: solid #f5f5f5;
  border-width: 0px;
  transform: rotate(45deg);
  transition: border-width 0.2s;
}

.color-block.checked:after {
  content: '';
  display: block;
  margin: 20px 30px;
  width: 10px;
  height: 20px;
  border: solid #f5f5f5;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.online-users {
  position: absolute;
  bottom: 10px;
  left: 325px;
  display: flex;
}

.online-user {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 5px #ccc;
}
